<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Archivos estáticos</h1>
    <img src="static/img/fate.png" alt="">
</body>
</html>